import type { NextConfig } from "next";

const config: NextConfig = {
  reactStrictMode: true,
  transpilePackages: ["@labmgm/react", "@labmgm/styles", "@labmgm/themes", "@labmgm/tokens"],
};

export default config;
